#city-search-btn {
    width: auto
}

ul {
    list-style: none
}

.forecast-box {
    background-color: darkslategray;
    color: whitesmoke;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.current-day-class {
    background-color: beige;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.forecast-box li {
    font-size: 10px;
    margin-left: -10px;
    padding: 5px;
}

h4 {
    font-size: 20px;
    text-align: center;
}

button {
    display: block;
}

img {   
    margin: auto;
}